@import "../../styles/constants";
.feedback-form {
  margin: 0 auto;
  max-width: 94rem;

  fieldset {
    margin: auto;
    border: none;
    padding: 4rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  p {
    width: 100%;
    color: red;
    font-size: 1.8rem;
  }

  label,
  div p {
    margin: 0;
    width: 100%;
    line-height: 4rem;
    font-size: 2.4rem;
    color: #000000;
  }


  input,
  select,
  textarea {
    background-color: transparent;
    border: 1px solid $dark-color;
    color: $dark-color;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 400;
    height: 7rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    transition: 0.4s;
    &:hover {
      border: 1.9px solid #2b7b5c;
    }
    &:focus {
      border: 1.9px solid #2b7b5c;
      outline: none;
    }
  }

  select {
    margin-bottom: 5rem;
    width: 100%;
    appearance: none;
    border-radius: 0;
    padding-right: 1rem;
    background: url(/public/svg/arrow-down.svg) no-repeat right;
    background-size: 2rem 2rem;
    background-position-x: calc(100% - 1rem);
  }

  input.radio {
    margin: 0 1rem 0 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  input.form-checkbox {
    width: 2rem;
    height: 2rem;
    margin: 0;
  }

  input[type='checkbox'] {
    accent-color: $additional-color; 
  }

  textarea {
    height: 13rem;
    resize: none;
  }

  .order-label {
    margin-top: 2rem;
  }

  .submit-btn {
    display: block;
    margin: 3rem auto 0;
    width: 26rem;
    height: 8rem;
    color: #ffffff;
    background: grey;
    pointer-events: none;
    font-size: 3rem;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    &.active {
      pointer-events: auto;
      background: $additional-color;
      transition: 0.4s;
      &:hover {
        cursor: pointer;
        background: $primary-dark-color;
      }
    }
  }

  @media (max-width: 550px) {
    div p {
      width: 16.5rem;
    }
    fieldset {
      width: 27.5rem;
    }
    input.form-checkbox {
      margin-right: 10rem;
    }
    label {
      width: 26.4rem;
    }
    .checkbox-label {
      width: 10rem;
    }
  }

  @mixin star-rating(
    $filled-color: #f9bf3b,
    $empty-color: $additional-color,
    $size: 5rem,
    $width: 26rem
  ) {
    $star--filled: ★;
    $star--empty: ☆;
    width: $width;
    > * {
      float: right;
    }
    @at-root {
      @keyframes pulse {
        50% {
          color: lighten($empty-color, 10%);
          text-shadow: 0 0 15px lighten($empty-color, 20%);
        }
      }
    }
    label {
      height: 40px;
      width: 20%;
      display: block;
      position: relative;
      cursor: pointer;
      @for $i from 5 through 1 {
        &:nth-of-type(#{$i}):after {
          $animation-delay: $i * 0.05s;
          animation-delay: $animation-delay;
        }
      }
      &:after {
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        content: "#{$star--empty}";
        color: $empty-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $size;
        animation: 1s pulse ease;
      }
      &:hover:after {
        color: lighten($empty-color, 10%);
        text-shadow: 0 0 10px lighten($empty-color, 10%);
      }
    }
    input {
      display: none;
      &:checked {
        + label:after,
        ~ label:after {
          content: "#{$star--filled}";
          color: $filled-color;
          text-shadow: 0 0 20px $filled-color;
        }
      }
    }
  }

  .rating {
    margin: 1rem;
    @include star-rating();
  }

  .rating-container {
    & p {
      width: fit-content;
      line-height: 6rem;
    }
    display: flex;
  }
  .checkbox-container {
    display: flex;
    align-items: center;

    label {
      width: 40rem;
    }
  }
  .checkbox-question {
    margin: 2rem 0 1rem;
  }
}
