$primary-dark-color: #233000;
$primary-light-color: #EBF0E4;
$additional-color: #5E6600;
$light-color: #FFFFFF;
$dark-color: #000000;
$additional-light-color: #F8F8F8;
$accent-color: #0D3776;
$disabled-color: grey;
$bg-color: red;
$primary-color: #233000;
$xs: 375px;
$sm: 576px;
$md: 769px;
$lg: 1025px;
$xl: 1200px;
$xxl: 1440px;
$max-width: 1920px;