@import "../../styles/constants";

.icon {
  margin: auto;
  background-color: $primary-light-color;
  border-radius: 50%;
  width: 26rem;
  height: 26rem;
  background-size: 13rem 13rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  max-width: 56rem;
  text-align: center;
  &:hover > div  {
    background-size: 16rem 16rem;
    transition: all 0.5s ease-in-out;
  }
}

.title {
  margin: 4rem 0 3rem;
}

@media (hover: hover) {
  .navigation-card:hover .navigation-card__img {
    background-size: 12rem;
  }
}
