@import "./styles/reset";
@import "./styles/constants";

html {
  font-size: 10px;
}

body {
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 0 13.8rem;
}

.container_main {
  background-color: $primary-dark-color;
  color: $light-color;
}

.container_accent {
  background-color: $primary-light-color;
  color: $dark-color;
}

.container_light {
  background-color: $light-color;
  color: $dark-color;
}

.content {
  max-width: $max-width;
  margin: auto;
}

.title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title_main {
  font-size: 11rem;
}

.title_1 {
  font-size: 9rem;
}

.title_2 {
  font-size: 7rem;
}

.title_3 {
  font-size: 6rem;
}

.title_4 {
  font-size: 4.8rem;
}

.title_5 {
  font-size: 3.2rem;
}

.text {
  letter-spacing: 2px;
  line-height: 140%;
  font-size: 2.4rem;
}

.image {
  background-repeat: no-repeat;
}


@media screen and (max-width: $xxl) {
  .container {
    padding: 0 8rem;
  }
}  

@media screen and (max-width: $xl) {
  .container {
    padding: 0 6rem;
  }
}  
